# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
dist/
build/

# Env
.env
venv/
.venv/
debateedge

# Data
data/arguments/*
data/fallacies/*
!data/arguments/.gitkeep
!data/fallacies/.gitkeep

# IDE
.vscode/
.idea/
.DS_Store

# DB
*.db
*.sqlite

# Logfire
.logfire/