# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
dist/
build/

# Env
.env
venv/
.venv/
debateedge
.env.local
.env.production

# Data
data/arguments/*
data/fallacies/*
!data/arguments/.gitkeep
!data/fallacies/.gitkeep

# IDE
.vscode/
.idea/
.DS_Store

# DB
*.db
*.sqlite

# Logfire
.logfire/
logs
app/frontend_react/.env
app/frontend_react/.env.local
app/frontend_react/.env.production

!.env.example
!app/frontend_react/.env.example
.vercel
.env.local
.env*
app/frontend_react/node_modules/
app/frontend_react/dist/
.vercel
